@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #0093E9 linear-gradient(160deg, #485563  0%, #29323c 100%);
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#container {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  width: 95%;
  max-width: 420px;
  height: 254px;
  overflow: hidden;
}
#container.active {
  height: 545px;
}
#qr-header {
  margin-bottom: 1.5rem;
}
#qr-header h1 {
  margin-bottom: .5rem;
  font-size: 1.7rem;
}
#qr-header p {
  color: #464545;
}
#qr-form input,
#qr-form button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: .3rem;
}
#qr-form input {
  border: 1px solid #ccc;
  outline: none;
}
#qr-form input:focus {
  border-color: #485563;
}
#qr-form button {
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 1.5rem;
  background-color: #485563;
  color: #fff;
  font-weight: 700;
  font-size: .9rem;
  transition: .3s;
}        

#qr-form button:hover {
  background-color: #29323c;
}
#qr-code {
  border: 1px solid #ccc;
  border-radius: .3rem;
  padding: 2rem;
  background-color: #48556365;
  opacity: 0;
  transition: .5s;
}
#qr-code img {
  width: 100%;
  max-width: 200px;
}
#container.active #qr-code {
  opacity: 1;
}
@media screen and (max-width: 430px) {
  #container {
    height: 276px;
  }
  #container.active {
    height: 564px;
  }
}