@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cor01: #fff;
  --cor02: #485563;
  --cor03: #29323c;
  --border-color: #ccc;
  --bg-qr: #48556365;;
}
body {
  background: var(--cor03) linear-gradient(160deg, var(--cor02)  0%, var(--cor03) 100%);
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#container {
  background-color: var(--cor01);
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  width: 95%;
  max-width: 420px;
}
#qr-header {
  margin-bottom: 1.5rem;
}
#qr-header h1 {
  margin-bottom: .5rem;
  font-size: 1.7rem;
}
#qr-header p {
  color: var(--cor02);
}
#qr-form input,
#qr-form button {
  width: 100%;
  padding: 1rem;
  border-radius: .3rem;
}
#qr-form input {
  border: 1px solid var(--border-color);
  outline: none;
  margin-bottom: 1rem;
}
#qr-form input:focus {
  border-color: var(--cor02);
}
#qr-form button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--cor02);
  color: var(--cor01);
  font-weight: 700;
  font-size: .9rem;
  transition: .3s;
}        
#qr-form button:hover {
  background-color: var(--cor03);
}
#qr-code {
  border-radius: .3rem;
  background-color: var(--bg-qr);
  overflow: hidden;
  height: 0;
  transition: .3s;
  opacity: 0;
}
#qr-code img {
  width: 100%;
  max-width: 200px;
}
#container.active #qr-code {
  opacity: 1;
  height: auto;
  margin-top: 1.5rem;
  padding: 2rem;
  border: 1px solid var(--border-color);
}